body{
    margin: 0;
    background-image: url(heh.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
canvas {
    padding: 30px;
    background: #000;
}